<h1>Hobbies</h1>


<%= link_to "Add a hobby", new_hobby_path %>
<h4>Here are your hobbies!</h4>
<ul>
  <% @hobbies.each do |hobby| %>
    <li>
      <%= hobby.name %> -- <%= hobby.body %>
      <hr/>
    </li>
  <% end %>
</ul>

